<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/GloballogicPractices/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="JayantaDas1" />
      <add key="ClearTextPassword" value="96983e54dafdec5389f4f34de5a62bd3269080be" />
    </github>
  </packageSourceCredentials>
</configuration>